body{
    position: relative;
    width: 1400px;
    height: 1980px;
    background: #FFFFFF;
    color: #1E0606;
}
h2{
    padding-left:  110px;   
}

/* blog search */

.blog-search{
    padding-left:  110px; 
}


.blog-search ul{
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    
}
.blog-search li{
    padding-right: 20px;
   
}
.blog-search a{
    text-decoration: none;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;  
    
}
.blog-search a:hover{
    opacity: 0.5;
}
.blog-search a:active{
    opacity: 0.2;
}
/* blog container */

.blog-container{
    max-width:1180px;
    width: 100%;
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.blog-item ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}
.blog-item li{
    max-width: 380px;
    width: 100%;
}
.blog-item h3{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
.blog-item span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
}
.number li{
    padding-top: 30px;
    padding-bottom: 60px;
}
.blog-item h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
